#quizContent {
    background-color: pink;
    border: 4px gold double;
    padding: 2%;
    margin-top: 1.5%;
}

.quizCard {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    line-height: 1.8em;
    padding: 10px;
}

#content {
    width: 60%;
    margin: auto;
}

.correct {
   color: red;
   visibility: hidden;
}


.btn {
    padding: 30px;
    border: 2px black solid;
    font-size: 25px;
    margin: 2%;
}

.btn:hover {
    box-shadow: 2px 2px 2px rgb(63, 62, 62);
}

#submitBtn {
    padding: 25px;
    margin: auto;
    width: 100%;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}