#trueButton {
    background-color: lightgreen;
}

#falseButton {
    background-color: lightcoral;
}

#buttons {
    width: 25%;
    margin: 0 auto;
}

body {
    background-color: rgb(228, 231, 178);
}

#quizContent {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(252, 156, 118);
    border: 4px gold double;
    padding: 2%;
    margin-top: 1.5%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    line-height: 1.8em;
    padding: 10px;
    font-size: 36px;
}

#content {
    width: 90%;
    margin: auto;
    font-size: 36px;
    font-weight: bold;
}

.btn {
    padding: 30px;
    border: 2px black solid;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

#btn {
    padding: 30px;
    font-size: 30px;
    width: 80%;
    border: 1px black solid;
    position: relative;
    left: 10%;
    text-transform: uppercase;
    margin: 0 auto;
}

.btn:hover, #btn:hover {
    box-shadow: 2px 2px 2px rgb(63, 62, 62);
}